// @import url('https://v1.fontapi.ir/css/VazirFD');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazirmatn';
  font-weight: 100;
  src: url('../fonts/vazirFD-100.woff2') format('woff2');
}

@font-face {
  font-family: 'vazirmatn';
  font-weight: 300;
  src: url('../fonts/vazirFD-300.woff2') format('woff2');
}

@font-face {
  font-family: 'vazirmatn';
  font-weight: 400;
  src: url('../fonts/vazirFD-400.woff2') format('woff2');
}

@font-face {
  font-family: 'vazirmatn';
  font-weight: 500;
  src: url('../fonts/vazirFD-500.woff2') format('woff2');
}

@font-face {
  font-family: 'vazirmatn';
  font-weight: 700;
  src: url('../fonts/vazirFD-700.woff2') format('woff2');
}

@font-face {
  font-family: 'vazirmatn';
  font-weight: 900;
  src: url('../fonts/vazirFD-900.woff2') format('woff2');
}

html,
body {
  font-size: 16px;
  font-family: 'Vazir FD' !important;

  @media screen and (max-width: 768px) {
    font-size: 90%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
}

* {
  font-family: 'vazirmatn' !important;
}

.rdp__modal {
  z-index: 100 !important;
}

input {
  text-align: start !important;
  unicode-bidi: plaintext !important;
}
