// @import url('https://v1.fontapi.ir/css/VazirFD');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
  font-family: 'Vazir FD' !important;

  @media screen and (max-width: 768px) {
    font-size: 90%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
}

.rdp__modal {
  z-index: 100 !important;
}

input {
  text-align: start !important;
  unicode-bidi: plaintext !important;
}
